---
layout: page
title: CLIR Reports
pagination:
    data: collections.reports
    size: 25
    alias: reports
---

<div class="row flex-lg-row-reverse align-items-center rounded-3 border shadow-lg">
    <div class="col-10 col-sm-8 col-lg-6">
        {% include 'latest_report.liquid' %}
    </div>
    <div class="col-lg-6 p-3 p-lg-5 pt-lg-3 mt-5">
        <p class="lead">
            CLIR has published more than  reports on topics relating to <strong>preservation</strong>, <strong>digital libraries</strong>, <strong>economics of information</strong>, <strong>trends in information use</strong>, <strong>international developments</strong>, and the <strong>changing role of the library</strong>.
        </p>
        
        <p>
            CLIR reports are made possible in part by support from our <a href="https://www.clir.org/about/current-sponsors-and-funders/" target="_blank">sponsoring institutions</a>. Sponsors receive complimentary copies of our print publications.
        </p>
        
        <p>This list is in chronological order with the most recent reports at the top.</p>
    </div>
</div>

<div class="py-5">
    <h2 class="pb-4 mb-4 border-bottom fs-1">{{ title }}</h2>

{% for report in collections.reports reversed %}
    <p>
        <a href="{{ report.url | url }}">{{ report.data.title }}</a> 
        {{ report.data.date | date: '%B %Y' }}. 
        {% if report.data.clir_id %}{{ report.data.clir_id }}. {% endif %}
    </p>
{% endfor %}
</div>

{%# include 'pagination_reports.njk' #%}